.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.textAreaContainer {
  flex-grow: 1;
  padding: 8px 16px;
  line-height: 0;
  border-radius: 16px;
  background: #2f2f2f;
}

.textArea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background: #2f2f2f;
  color: #f3f3f3;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #f3f3f3;
}

.button svg {
  fill: #000000;
}
