.sidebar {
  flex-shrink: 0;
  width: 260px;
  padding: 8px;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.sidebar[data-open="true"] {
  transform: translateX(0);
}

.menuButton {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 3;
  display: none;
  padding: 8px;
  border: none;
  background: none;
}

.menuButton svg {
  vertical-align: middle;
  fill: light-dark(#212121, #ffffff);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

.chats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat[data-active="true"] .chatButton {
  background: light-dark(#ffffff, #212121);
  border-color: transparent;
  cursor: default;
}

.chatButton {
  width: 100%;
  padding: 12px;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: left;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: light-dark(#d3d3d3, #3f3f3f);
  }
}

.chatTitle {
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 72px 16px 16px;
    border-radius: 0;
    background: light-dark(#f5f5f5, #1e1e1e);
    transform: translateX(-100%);
  }

  .menuButton,
  .overlay {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
