.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  padding: 16px;
}

.header {
  text-align: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.title {
  margin: 0;
}

.chatContainer {
  height: calc(100vh - 260px);
  width: 100%;
  background: light-dark(#ffffff, #212121);
  border-radius: 16px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
