:root {
  color: light-dark(#0d0d0d, #ececec);
  background: light-dark(#f3f3f3, #171717);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
textarea {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
